* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(255, 153, 0), rgb(255, 217, 0));
  background-attachment: fixed;
}
.App {
  margin: 5rem 0;
  h2 {
    color: white;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: lighter;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  margin-bottom: 3rem;
  padding: 0.7rem;
  background: linear-gradient(rgb(255, 153, 0), rgb(255, 159, 0));
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  button {
    border: none;
    padding: 0.15rem;
    background: transparent;
    color: white;
    cursor: pointer;
  }
}

.matches {
  background: white;
  text-align: center;
  margin: 1rem 2rem;
  padding: 1rem;
  display: flex;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  min-height: 10rem;
  flex-direction: column;
  h4 {
    color: rgb(255, 153, 0);
    font-size: 1rem;
  }
  h5 {
    color: rgb(165, 165, 165);
    font-size: 0.9rem;
  }
  p {
    padding-top: 0.2rem;
    font-size: 0.8rem;
  }
  @media (min-width: 700px) {
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    p {
      padding-top: 0.5rem;
      font-size: 1rem;
    }
  }
  .score {
    display: flex;
    justify-content: center;
    h3 {
      padding-top: 0.5rem;
      font-size: 2rem;
    }
    @media (min-width: 700px) {
      h3 {
        padding-top: 2rem;
        font-size: 6rem;
        margin: 0 0.5rem;
      }
    }
  }

  &_logo {
    display: flex;
    justify-content: space-between;
    .home_team_logo,
    .away_team_logo {
      margin-top: -3rem;
      padding: 0 0.8rem;
      img {
        max-width: 50px;
        height: auto;
        font-size: 0.8rem;
      }
      p {
        font-size: 0.6rem;
        font-weight: lighter;
      }
      @media (min-width: 700px) {
        margin-top: -8rem;
        padding: 1rem 1rem;
        img {
          max-width: 200px;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }

  .statistics {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0.5rem 0 -0.5rem 0;
    color: rgb(255, 153, 0);
    p {
      font-size: 0.8rem;
    }
    button {
      color: rgb(255, 153, 0);
      background: transparent;
      border: none;
      cursor: pointer;
    }

    @media (min-width: 700px) {
      padding: 0rem 0.3rem 0rem 0.3rem;
      p {
        font-size: 1rem;
      }
      button {
        padding-top: 0.5rem;
      }
    }
  }
}
.hide {
  display: none;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0.15rem;
    background: transparent;
    cursor: pointer;
    color: rgb(165, 165, 165);
  }
  button:hover {
    color: rgb(255, 153, 0);
  }
  button.active {
    color: rgb(255, 153, 0);
  }
}
.loading {
  display: flex;
  color: white;
  justify-content: center;
  margin: 20rem 0;
  font-weight: bold;
}
